---
layout: default
---

<div id="post-list">
  <ul class="posts page-{{paginator.page}}">
    {% assign i = -1 %}
    {% for post in paginator.posts %}
      {% assign i = i | plus:1 %}
      {% assign postUrl = post.url | prepend: site.baseurl %}   

      {% if paginator.page == 1 and i == 0 %}

        <div class="pop-sec">
          <div class="header">Popular Articles</div>
          <ul class="pops">
            {% assign count = 0 %}
            {% for pop in site.popular_posts %}
              {% for post in site.posts %}
                {% if pop == post.title %}
                  <li class="pop">
                    <a href="{{ postUrl }}" class="featured-img" style="background-image: url({{ post.image | prepend: "/images/" | prepend: site.baseurl }})"></a>

                    <div class="title"> {{ post.title }}</div>
                    <span class="clearfix"></span>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
          <span class="clearfix"></span>
        </div>

      {% endif %}

      <li class="post">
        <a href="{{ postUrl }}" class="featured-img" style="background-image: url({{ post.image | prepend: "/images/" | prepend: site.baseurl }})"></a>

        <div class="post-meta">
            <div class="meta">
              <span class="category">{{ post.categories[0] | upcase }}</span>
              <span class="date">
                 · {{ post.date | date: "%b %-d, %Y" }}
              </span>
            </div>
            <!-- <a href="{{ postUrl }}" class="title">{{post.index-intro}}</a> -->
            <div class="title"> {{ post.title }}</div>
            <div class="desc">{{post.index-intro}}</div>
            <div class="bottom-mask"></div>
        </div>
      </li>

      {% if paginator.page == 1 and i == 0 %}
        <div class="clearfix"></div>
      {% endif %}

    {% endfor %}
      <li class="pagination">
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl}}" class="newer">OLDER POSTS</a>
        {% endif %}

        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl}}" class="older">NEWER POSTS</a>
        {% endif %}
      </li>
  </ul> 
</div>